@import '../../../../src/styles/shared/variables';
@import '../../../../src/styles/shared/mixins';

div {
  border: solid 1px $primary-color;
  color: white;
  background-color: $primary-color;
  &:focus-within {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

span {
  white-space: nowrap;
  padding-top: .1rem;
  @include media-breakpoint-down(lg) {
    font-size: 12px;
    padding-top: .2rem;
  }
}
