<div class="d-flex flex-column border mt-2 rounded" (click)="openNotes($event)">
  <button mdbBtn mdbWavesEffect class="btn-primary w-100 rounded-top m-0 btn-sm" (click)="openNotes($event)">Add Notes</button>
  <div class="d-flex flex-row flex-wrap mx-3">
    <div class="w-50 d-flex flex-row flex-wrap"><span>Return To Work</span>/<span>School</span></div>
    <span class="w-50">Therapy</span>
    <span class="w-50">Provider to Provider</span>
    <span class="w-50">Sports Physical</span>
    <span class="w-50">Medication</span>
    <span class="w-50">Treatment</span>
  </div>
</div>
