.dsd {
  mat-header-cell:first-of-type, mat-cell:first-of-type {
    padding-left: 0 !important;
  }
  mat-header-cell:last-of-type, mat-cell:last-of-type {
    padding-right: 0 !important;
  }
  mat-header-cell {
    font-size: 16px;
  }
}

.col-xl-6 {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 53%;
    max-width: 53%;
  }
}
