ul {
  align-self: flex-start;
  max-height: calc(60vh - 100px);
  word-wrap: break-word;
  width: 100%;
  overflow-y: auto;
}

.treat-zebra {
  background-color: rgba(0, 0, 0, .1);
}

div.w-100 {
  white-space: pre-line;
}
