@import '../../../../src/styles/shared/mixins';
@import '../../../../src/styles/shared/variables';

$black-rgba: rgba(0, 0, 0, 0.5);

.auth-wrapper {

  &:after {
    background-color: $black;
    opacity: 0.5;
  }

  @include media-breakpoint-down(md){
    background-size: 80%;

    #passwordchange {
      margin-bottom: 5rem;
    }
  }
}

.switch {
  color: #551A8B;
  @extend %clickable-element;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
    color: #0000EE;
  }
}

.version-text {
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#passwordchange {
  width: 685px;
}
