<div id="8f068864-e5b8-4ce7-a770-682ded572c16" class="auth-wrapper">
  <div id="wrapper-logo"></div>
  <div id="6bc646b0-5e58-4cd2-8779-2073fa027274" class="d-flex flex-column fullscreen justify-content-center align-items-center">
    <mat-card role="group" id="passwordchange">
      <mat-card-content>
        <form class="d-flex flex-column">
          <mat-form-field *ngIf="!isNeedToSetNewPassword">
            <mat-label>Old Password</mat-label>
            <input name="oldpwd" type="password" matInput [(ngModel)]="oldPassword" autocapitalize="none" spellcheck="false" required [attr.disabled]="formDisabled"
            (change)="checkPasswd()" (input)="checkPasswd()">
          </mat-form-field>
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input name="newpwd" type="password" matInput [(ngModel)]="newPassword" autocapitalize="none" spellcheck="false" [attr.disabled]="formDisabled"
            (change)="checkPasswd()" (input)="checkPasswd()">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm New Password</mat-label>
            <input name="newpwdconfirm" matInput type="password" [(ngModel)]="newPasswordConfirm" autocapitalize="none" required
              [attr.disabled]="formDisabled" (change)="checkPasswd()" (input)="checkPasswd()">
          </mat-form-field>
          <span *ngIf="oldEqualNew">Old password cannot be equal to a new password</span><span *ngIf="!passwordsEmpty && passwordsNotEqual">Passwords are not equal</span><span *ngIf="!passwordsEmpty && !passwordsNotEqual && !passwordsMatchFormat">Password should be at least 8 characters long and contain at least 1 capital and 1 numeric character</span><br>
          <button mdbBtn color="green" [block]="true" class="waves-light mx-0" mdbWavesEffect type="submit" (click)="doChangePassword()" [disabled]="buttonDisabled">Change Password</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
