.error-message {
  top: 50px !important;
}

.btn-primary:disabled {
  background-color: #4285f4 !important;
  color: #fff !important;
}

.btn-danger:disabled {
  background-color: #ff3547 !important;
  color: #fff !important;
}
