<div class="card mt-3 mb-4" [class.view-only]="viewOnly">
  <div class="card-body d-flex flex-wrap justify-content-between">
    <div class="mat-table order-list">
      <p class="h5 text-center mb-3">Rapid Labs</p>
      <div class="mat-row" *ngFor="let lab of rapidLabs;">
        <div class="mat-cell name">
          <span>{{lab.name}}</span>
        </div>
        <div class="mat-cell chip-cell">
          <div class="lab-btn">
            <button mdbBtn type="button" [color]="'primary'" [disabled]="lab.state === OrderStateEnum.COMPLETED" size="sm" [block]="true" mdbWavesEffect (click)="toggleLabState(lab.code)">
              {{ getButtonText(lab.state) }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-table order-list">
      <p class="h5 text-center mb-3">Measurements</p>
      <div class="mat-row" *ngFor="let measurement of measurementTypes;">
        <div class="mat-cell name">
          <span>{{measurement.measurement}}</span>
        </div>
        <div class="mat-cell chip-cell">
          <div class="lab-btn">
            <button mdbBtn type="button" [color]="'primary'" [disabled]="measurement.state === OrderStateEnum.COMPLETED" size="sm" [block]="true" mdbWavesEffect (click)="toggleMeasurementState(measurement.measurement)">
              {{ getButtonText(measurement.state) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
