.normal {
  color: green!important;
}

.abnormal {
  color: red!important;
}

span {
  align-self: center;
}

div {
  button:first-of-type {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  button:last-of-type {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
  }
}

button {
  white-space: nowrap;
  font-size: 18px;
  pointer-events: all;
  padding-left: 0!important;
  padding-right: 0!important;
}
